.container-fluid {
  
    &.sidebar-wide {
      padding-left: 18%;
      padding-top: 2%;
    }
  
    &.sidebar-narrow {
      padding-left: 6%;
    }
  }
  .big-div{
    display: flex;
    flex-direction: row;
    gap:10px;
  }
  .div1{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 4%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    gap:10px;
  }
  .hei{
    height: 35px;
  }
  