.header-style {
    height:80px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    background-color: #FFFFFF;
}
.anothertoggle{
    display: none;
}
.img-class{
    width: 100%;
    height: 100%;
}
.img_imperial_auto {
     width: 85%;
     height: auto;
     object-fit: contain;
     padding:5%;
     height: 100%;
    
}
.profile-circle {
    width: 35px;
    height: 35px;
    border: 1px 0px 0px 0px;
    border-radius: 50%;
    justify-content: center;
    margin-top: 5px;
}
.big-div{
    background-color: #E2E2E2;
    width: 204px;
    height: 48px;
    margin: 14px;
    border-radius: 36px;
    margin-top: 18px;
    align-items: center;
}
.Frame{
    padding: 15px;
    cursor: pointer;
}
@media (max-width: 800px){
    .header-style {
        height: 80px;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
        background-color: #FFFFFF;
    }
    .img_imperial_auto {
        width: auto;
        max-width: 70%;
        height: 100%;
        height: auto;
        padding:5%;
    }
    .big-div{
        background-color: #E2E2E2;
        width: 204px;
        height: 45px;
        margin: 14px;
        border-radius: 36px;
        margin-top: 18px;
        align-items: center;
    }
    .Frame{
        padding: 15px;
    }

}
@media (max-width: 500px){
    .header-style {
        width: 100%;
        height: 55px;
    }
    .Frame{
        display: none;
    }
    .img_imperial_auto{
        margin-left: 40px;
        padding: 0px;
        height: 40px;
    }
    .big-div{
        display: none;
    }
}