.table-layout {
  background: var(--ion-background-color, #F1F5F9);
  height: 100vh;
  overflow: scroll;
  &.sidebar-wide {
    padding: 15px 20px;
    margin-left: 17%;
  }

  &.sidebar-narrow {
    padding-left: 6%;
  }
}
.contai{
  &.sidebar-wide {
    
  }

  &.sidebar-narrow {
    margin-top: 9px;
    margin-right: 21px;
  }
    
}
.p-20 {
  padding: 20px;
}

.simple-btn {
  outline: none;
  border: none;
  background: none;
  text-decoration: underline;
}

.cardBox{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  padding: 16px;
}

.outline-btn {
  outline: none;
  border: 1px solid #00A0F5;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #FFFFFF;
  color: #00A0F5;
  height: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

th {
  padding: 5px;
  text-align: start;
  background: #389FE733;
}

td {
  padding: 5px;
}

.first-column {
  color: #CC0000;
  cursor: pointer;
}

tr {
  border-bottom: 1px solid #F0F0F0;
}

.icon-style {
  .material-icons {
    line-height: 0.6;
    color: #333333;
  }
}

.dt_pagination li {
  display: inline-block;
  background: #E3E3E3;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.dt_pagination li.active {
  background-color: #fff;
  color: #1E2225;
}

.dt_pagination li:last-child {
  background: none;
  border: none;
}

.disableclass {
  cursor: no-drop !important;
}

.add_btn {
  background-color: #389FE7;
  outline: none;
  border-radius: 7px;
  padding: 10px 20px;
  color: #FFFFFF;
  height: 40px;
  font-family: 'Inter_18pt-Bold';
}

.import_btn{
 border:  1px solid #389FE7;
  border-radius: 7px;
  padding: 10px 20px;
  color: #FFFFFF;
  height: 40px;
  font-family: 'Inter_18pt-Bold';
}

.cl-red {
  color: #D60000;
}

.cl-blue {
  color: #00A0F5;
  text-decoration: underline;
}

th i {
  cursor: pointer !important;
  color: #a7a7a7 !important;
}

th i:hover {
  color: #092964 !important;
}

.status-text {
  color: #2F7F00;
  cursor: pointer;
}

.bg-gray {
  background: #C9D0DD;
}

.tableBox {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000005;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
}

.selectInputBox {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  padding: 5px;
  height: 35px;
  outline: none;
}

.refreshIcon {
  vertical-align: middle;
}

.export_btn {
  background-color: #FFFFFF;
  outline: none;
  border: 1px solid #CC0000;
  border-radius: 7px;
  padding: 10px 20px;
  color: #CC0000;
  height: 35px;
  width: 110px;
  font-family: 'ARIAL-Bold';
}

.whiteBox {
  // border: 0.5px solid #A8A8A8;
  border-radius: 5px;
  opacity: 1;
  padding: 5px;
}

.exportToExcel_btn {
  border-radius: 4px;
  opacity: 1;
  height: 35px;
  padding: 10px;
  height: 40px;
  color: #ED1C24;
  background: none;
}

.linkBtn {
  background-color: transparent;
  color: #004EEB;
  display: flex;
  margin-top: 11px;
  height: 17px;
}

.delete_btn {
  text-align: left;
  text-decoration: underline;
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
  padding: 10px 5px;
}
.displayContent{
  display: contents;
}
.importIcon{
  height: 40px;
  padding: 6px;
}
.importText{
  padding: 12px 0px;
  color: #0251A9;
  margin: 0px 6px;
}

tr:nth-child(even) {
  background-color: #F4F4F4;
}

tr:nth-child(odd) {
  background-color: #FFFFFF;
}

.imgdelete{
  height: 16px;
}

.icons{
  margin: -4px 0px;
}

.green{
  color:#2F7F00;
}

.red{
  color:red;
}

.green-background {
  background-color: green;
}


.input[type="checkbox"] {
  display: none; 
}

.toggle-button-switch {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  transition: left 0.3s;
}

.toggle-button-text {
  overflow: hidden;
  background-color: #fc3164;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  transition: background-color 0.3s;
}

.toggle-button-text-on,
.toggle-button-text-off {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 50px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.input[type="checkbox"]:checked ~ .toggle-button-switch {
  left: 52px;
}

.input[type="checkbox"]:checked ~ .toggle-button-text {
  background-color: #3dbf87;
}

.tabs-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.whiteBox.sub-tab-group {
  display: flex;
  gap: 10px; 
  overflow-x: hidden; 
  padding: 10px;
  white-space: nowrap;
  scroll-behavior: smooth;
  width: calc(100% - 80px); /* Make space for arrows */
}

.tab-item {
  background-color: #BEE2FC; 
  color: #000; 
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  min-width: 80px;
  text-align: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s, transform 0.2s;
  flex-shrink: 0;
}

.tab-item.selected {
  background-color: #389FE7; 
  color: #fff; 
}

.nav-arrow {
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-arrow:hover {
  background-color: #e0e0e0;
}

.nav-arrow ion-icon {
  font-size: 24px;
  color: #666;
} 