// material CSS
.mat-height40 {
  .mat-mdc-text-field-wrapper {
    height: 40px;
  }

  .mat-mdc-form-field-flex {
    height: 40px;
  }
}

.mat-height35 {
  .mat-mdc-text-field-wrapper {
    height: 35px;
  }

  .mat-mdc-form-field-flex {
    height: 35px;
  }
}

 .mat-height44 {
  .mat-mdc-text-field-wrapper {
    height: 44px;
  }

  .mat-mdc-form-field-flex {
    height: 44px;
  }
}

.mat-outline-style {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #FFFFFF;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #FFFFFF;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: #FFFFFF;
  }

  .mat-mdc-text-field-wrapper {
    background-color: #FFFFFF;
  }

  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 10px;
    padding-left: 9px;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch
  , .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing
   {
    border-color: #bfb5b5;
    color: #bfb5b5;
   }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__leading:hover,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__notch:hover,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__trailing:hover {
    border-color: #bfb5b5;
    color: #bfb5b5;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled):focus-within .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):focus-within .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):focus-within .mdc-notched-outline__trailing {
    border-color: #bfb5b5;
    // border-radius: 3px;
    color: #bfb5b5;
    box-shadow: none;
    
  }

  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    width: 0;
  }
}

.mat-checkbox-style {

  .mat-mdc-checkbox-ripple,
  .mdc-checkbox__ripple {
    display: none;
  }

  .mat-accent {
    --mat-option-selected-state-label-text-color: #389FE7;
  }

  .mat-checkbox-checked.mat-accent {
    background-color: #389FE7 !important;
  }

  .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
  .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
  .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-color: #389FE7;
    background-color: #389FE7;
  }

  .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
  .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
  .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-color: #389FE7;
    background-color: #389FE7;
  }

  .mdc-checkbox:focus-within .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
  .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
  .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-color: #389FE7;
    background-color: #389FE7;
  }

  .mdc-checkbox:active .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
  .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
  .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-color: #389FE7;
    background-color: #389FE7;
  }
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #389FE7;
  --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-header-pagination-icon-color: #000;
  --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-label-text-color: #389FE7;
  --mat-tab-header-active-ripple-color: #389FE7;
  --mat-tab-header-inactive-ripple-color: #389FE7;
  --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-focus-label-text-color: #389FE7;
  --mat-tab-header-active-hover-label-text-color: #389FE7;
  --mat-tab-header-active-focus-indicator-color: #389FE7;
  --mat-tab-header-active-hover-indicator-color: #389FE7;
}

.mat-mdc-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  --mdc-tab-indicator-active-indicator-height: 2px;
  --mdc-tab-indicator-active-indicator-shape: 0;
  --mdc-secondary-navigation-tab-container-height: 32px !important;
}

.mat-mdc-tab {
  font-family: 'Inter_18pt-SemiBold' !important;
}

::ng-deep .mdc-tab .mat-mdc-tab .mat-mdc-focus-indicator .ng-star-inserted .mdc-tab--active .mdc-tab-indicator--active {
  background: #D2232A 0% 0% no-repeat padding-box !important;
  border-radius: 6px 6px 0px 0px;
  opacity: 1;
}

.mat-mdc-tab:not(.mdc-tab--stacked) {
  height: 40px !important;
  background: #BEE2FC;
  margin: 0px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width: 150px;
}

.mdc-tab-indicator__content--underline {
  align-self: unset !important;
  width: 100%;
  background: #389FE7;
  border-top-style: hidden !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #FFFFFF !important;
  font-family: 'Inter_18pt-SemiBold' !important;
}

.mat-mdc-tab .mdc-tab__text-label {
  font-family: 'Inter_18pt-SemiBold' !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-bottom: 16px;
  padding-left: 10px;
}

.mdc-line-ripple::before,
.mdc-line-ripple::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-style: none !important;
  content: "";
}

.mdc-dialog__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  height: 100;
  transform: scale(0.8);
  height: auto !important;
  opacity: 0;
  pointer-events: none;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: #389FE7;
  --mdc-radio-selected-hover-icon-color: #389FE7;
  --mdc-radio-selected-icon-color: #389FE7;
  --mdc-radio-selected-pressed-icon-color: #389FE7;
  --mat-radio-ripple-color: #000;
  --mat-radio-checked-ripple-color: #389FE7;
  --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}

.mat-horizontal-stepper-header-container {
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: fit-content;
  border-bottom: 1px solid #cccccc;
  height: 40px;
  margin-bottom: 10px;
}

.mat-step-header {
  height: 40px !important;
}

.mat-step-header[aria-selected="true"] {
  background: #389FE7 0% 0% no-repeat padding-box !important;
  border-radius: 6px 6px 0px 0px;
  font-family: 'Inter_18pt-SemiBold';

  & div.mat-step-label.mat-step-label-active.mat-step-label-selected {
    color: #FFF;
  }
}

.mat-step-icon-selected {
  background-color: #389FE7 !important;
  color: #FFFFFF !important;
}

.mat-step-icon {
  background-color: #389FE7 !important;
  color: #FFFFFF !important;
}

.mat-step-icon-state-edit {
  background-color: #389FE7 !important;
  color: #FFFFFF !important;
}

.mat-stepper-horizontal-line {
  border-top-width: 0px !important;
  border-top-style: solid;
  flex: auto;
  height: 0;
  margin: 0 -16px;
  min-width: 32px;
  border-top-color: var(--mat-stepper-line-color);
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  display: block;
  font-family: var(--mat-stepper-container-text-font);
  background: none !important;
}

.mdc-text-field--filled.mdc-text-field--disabled {
  background-color: var(--mdc-filled-text-field-disabled-container-color);
}

.mat-mdc-form-field-error {
  color: var(--mdc-theme-error, #f44336);
  font-family: 'Inter_18pt-Regular' !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  font-family: 'Inter_18pt-Regular' !important;
  padding-left: 0px;
  color: #B2B2B2;
}

.mat-calendar-table-header th {
  text-align: center;
  padding: 0px !important;
  color: var(--mat-datepicker-calendar-header-text-color);
  font-size: var(--mat-datepicker-calendar-header-text-size);
  font-weight: var(--mat-datepicker-calendar-header-text-weight);
}

.mat-step-text-label {
  font-family: 'Inter_18pt-Regular' !important;
}
.mat-horizontal-content-container {
  overflow: hidden;
  padding: 0px !important;
}
::ng-deep .mdc-switch:enabled:hover:not(:focus):not(:active) .mdc-switch__track::after {
  background: #389FE7 !important;
}
.mat-mdc-tab-group {
  display: flex;
  flex-direction: column;
  width: max-content !important;
}
.op05{
  opacity: 0.5 !important;
}
.mdc-switch:enabled .mdc-switch__track::after {
  background: #389FE7 !important;
}
.mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
  background: #389FE7 !important;
}
.mat-mdc-option:focus.mdc-list-item, .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  background-color: #f5faff !important;
}

.mat-icon {
  padding: 0px 0px 0px 10px !important;
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 18px !important;
}

.multiselect-dropdown {
  border: none !important;
  border-radius: 7px;
  background-color: #fff;
  font-family: 'Inter_18pt-Regular' !important;
  font-size: 15px !important;
  min-height: 40px;
}

.dropdown-list {
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto;
  border-radius: 0px !important;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-header {
  background-color: #f3f3f3;
  padding: 8px 12px;
  font-weight: bold;
}
.multiselect-dropdown .dropdown-btn {
  border: 1px solid #DEDEDE !important;
  padding: 7px !important;
  min-height: 40px !important;
  border-radius: 7px !important;
}
.dropdown-list ul {
  padding: 0;
  list-style: none;
  overflow: auto;
  margin: 0;
  max-height: none !important;
}
.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{
  border: none !important;
  margin-right: 4px;
  background: none !important;
  padding: 0 5px;
  color: #000000 !important;
  border-radius: 7px;
  float: left;
  max-width: none !important;
}
.multiselect-item-checkbox input[type=checkbox]+ div:before {
  box-sizing: content-box;
  content: "";
  color: #389FE7 !important;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid #389FE7 !important;
  text-align: center;
  transition: all .4s ease;
}
.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  animation: _ngcontent-ng-c692748064_borderscale .2s ease-in;
  background: #389FE7 !important;
}
.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before {
  position: relative;
  right: 0;
  top: 68%;
  color: #999;
  margin-top: 4px;
  border-style: solid;
  border-width: 5px 5px 0px 5px !important;
  border-color: #999999 transparent;
  content: "";
}

.mat-input-style {

  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: #F2F2F2;
  }

  .mat-mdc-text-field-wrapper {
    background-color: #F2F2F2;
  }

  .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-width: 0.4px;
    border-bottom-color: #9D9D9D;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
    border-bottom-width: 0.4px;
    border-bottom-color: #9D9D9D;
  }

  .mdc-text-field {
    padding-left: 0;
    font-size: 16px;
    color: #858585;
    border: 1px solid #DEDEDE;
    border-radius: 7px;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #FFFFFF;
  }

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 8px;
  }

  .mat-mdc-form-field-error-wrapper {
    padding: 0px 0px 0px;
    font-size: 12px;
  }
}