.container-fluid {
  height: 100vh;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
.logo{
  width: 43%;
}
.cardbox{
   width: 380px;
   height: 450px;
   background: #FFFFFF;
   border-radius: 8px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   border: 1px solid #E5E5E5;
   margin: 2px auto;
   margin-top: 20px;
   padding: 20px;
}
.logo-container{
  text-align: center;
  display: flex;
  justify-content: center;
}


.subhead {
  font-size: 12px;
  font-family: 'Inter_18pt-Bold';
  color: #000000;
  margin-bottom: 16px;
  text-align: center;
  padding-top: 10px;
}
.input_field{
  color: #B2B2B2;
}
.login-btn{
  display: flex;
  height: 35px;
  //margin: 0 auto;
  background-color: #389FE7;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 14px;
  display: inline-block;
  text-align: center; 
 // padding: 5px;
  width: 98%;
  margin-left: 4px;
}
.forgot-password {
  text-align: center;
  font-size: 12px ;
  font-weight: 500;
  color: #000000;
 // margin: 8px 0;
}

.Microsoft {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px;
  height: 45px;
  margin: 0px ;
  border-radius: 4px 4px 4px 4px;
  background: #F1F1F1;
  border: 0.76px solid #DBDBDB;
  cursor: pointer;
  font-size: 12px;
  color: #000000;
  padding-left: 10px;
  width: 98%;
  margin-left: 4px;
}
.input_wala{
  font-size: 11.5px;
}
.Microsoft img {
  width: 25px;
  height: 25px;
}
.big-div{
 // padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap:15px;
}
hr{
  border-top: 1px solid #BEBEBE; padding-top: 4px;
  width: 98%;
  margin-left: 4px;
}
.newc{
  font-size: 12px;
}
/* For tablets */
@media (max-width: 800px) {
  .cardbox {
    width: 300px;
    height: 400px;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
  
  }
  .big-div{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  .login-btn {
    display: inline-block;
    text-align: center; 
    font-size: 10px;
  }
  .forgot-password{
    font-size: 10px;
  }

}

@media (max-width: 500px) {

  .cardbox {
    width: 250px;
    height: 380px;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
  }

  .logo-container img {
    width: 50%; 
  }

  .subhead {
    font-size: 10px; 
  }
  .label_wala{
    font-size: 9px;
    font-family: 'Inter_18pt-Bold';
  }
  .input_wala{
    font-size: 8px;
  }
  .big-div{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap:7px;
  }

  .mat-input-style {
    font-size: 1px; 
  }

  .login-btn {
    font-size: 10px;
    display: inline-block;
    text-align: center; 
  }
  .newc{
    font-size: 10px;
  }
}

//border: 1px solid #B2B2B2;



