
<div class="container-fluid">
  <div class="cardbox">
    <div class="logo-container">
      <img
        class=" h-25 verticle-center logo"
        alt="logo-imperial auto"
        src="/assets/Untitled-1 1.png"
      />
    </div>
    <div class="subhead">EHS Management</div>

    <div class="big-div">
      <div>
        <label class="fs-12 label_wala">Email ID / Employee Code</label>
        <mat-form-field
          appearance="outline"
          class="w-100 mat-height35 mat-outline-style p-4 input_wala"
        >
          <input
            matInput
            type="email"
            placeholder="Enter your Email ID or Employee Code"
            class="input_field"
          />
        </mat-form-field>
      </div>
  
      <div>
        <label class="fs-12 label_wala">Password</label>
        <mat-form-field
          appearance="outline"
          class="w-100 mat-height35 mat-outline-style p-4 fs-10 input_wala"
        >
          <input matInput type="password" placeholder="Enter your Password" class="input_field" />
        </mat-form-field>
      </div>
  
      <div>
        <button class="login-btn w-100 mat-height35" type="submit" (click)="onLogin()"
          >Login</button>
      </div>
  
      
      <div>
        <p class="forgot-password fs-10">Forgot password?</p>
    </div>
    <div>
      <hr>
    </div>
  
      <div class="Microsoft pl-20 w-100">
        <img src="/assets/Microsoft.png" />
        <span class="fs-12 newc">Sign In with Microsoft</span>
      </div>
    </div>
  </div>
</div> 
