// .container{
//     height: 100%;
//     padding: 20px;
//     width: 100%;
// }
// .userInfo{
//     padding: 16px;
//     background-color: #389FE733;
//     border-radius: 10px;
// }
// .Btn {
//     display: inline-block; /* Ensure it is displayed */
//     background-color:#389FE7;
//     ; /* Example color */
//     color: white;
//     padding: 10px 20px;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//   }
  
//   .Btn:hover {
//     background-color: #0056b3; /* Darker shade on hover */
//   }
//   .mat-clas{
//     margin-left: 10px;
//   }
//   .btn-div{
//     display: flex;
//     flex-direction: row;
//     gap:30px
//   }
//   .popup {
//     position: fixed;
//     z-index: 1050; /* Ensure the popup is on top of other elements */
//   }
  
//   .overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.5);
//     z-index: 1000; /* Lower z-index for the overlay */
//   }
  
//   .button-container {
//     position: relative;
//     z-index: 1100; /* Ensure the button is above everything else */
//   }
.container {
  padding: 20px;
}

button {
  padding: 10px 20px;
  background-color: #389fe7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
