/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
// @import '../node_modules/font-awesome/css/font-awesome.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */ 

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";
// @import "~@ng-select/ng-select/themes/default.theme.css";



@font-face {
    font-family: 'Inter_18pt-Bold';
    src: url('./assets/fonts/Inter_18pt-Bold.ttf');
}

@font-face {
    font-family: 'Inter_18pt-SemiBold';
    src: url('./assets/fonts/Inter_18pt-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter_18pt-BoldItalic';
    src: url('./assets/fonts/Inter_18pt-BoldItalic.ttf');
}

@font-face {
    font-family: 'Inter_18pt-Regular';
    src: url('./assets/fonts/Inter_18pt-Regular.ttf');
}

@font-face {
    font-family: 'Inter_18pt-Medium';
    src: url('./assets/fonts/Inter_18pt-Medium.ttf');
}

@font-face {
    font-family: 'Inter_18pt-Light';
    src: url('./assets/fonts/Inter_18pt-Light.ttf');
}

@font-face {
    font-family: 'Inter_18pt-Italic';
    src: url('./assets/fonts/Inter_18pt-Italic.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

.container {
    padding: 0;
}

.row,
ul {
    padding: 0;
    margin: 0;
}

//font Style

.font_bold {
    font-family: 'Inter_18pt-Bold';
}

.font_semibold {
    font-family: 'Inter_18pt-SemiBold';
}

.font_medium {
    font-family: 'Inter_18pt-Medium' !important;
}

.font_regular {
    font-family: 'Inter_18pt-Regular' !important;
}

.font_italic {
    font-family: 'Inter_18pt-Italic' !important;
}

.font_light {
    font-family: 'Inter_18pt-Light' !important;
}

/* Font size */
.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
}

.fs-28 {
    font-size: 28px;
}

.fs-30 {
    font-size: 30px;
}

.fs-36 {
    font-size: 36px;
}

.fs-38 {
    font-size: 38px;
}

.fs-40 {
    font-size: 40px;
}

.fs-44 {
    font-size: 44px;
}

.fs-48 {
    font-size: 48px;
}

.fs-50 {
    font-size: 50px;
}

.fs-52 {
    font-size: 52px;
}


/*Font-Weight*/
.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

// Opacity
.opacity1 {
    opacity: 1;
}

.opacity5 {
    opacity: 0.5;
}

.opacity7 {
    opacity: 0.7;
}

.cp {
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/****************************** Spacing *************************************/

.clear {
    clear: both;
}

.clear5 {
    clear: both;
    height: 5px;
}

.clear10 {
    clear: both;
    height: 10px;
}

.clear13 {
    clear: both;
    height: 13px;
}

.clear20 {
    clear: both;
    height: 20px;
}

.clear25 {
    clear: both;
    height: 25px;
}

.clear30 {
    clear: both;
    height: 30px;
}

.clear40 {
    clear: both;
    height: 40px;
}

.clear50 {
    clear: both;
    height: 50px;
}

.clear60 {
    clear: both;
    height: 60px;
}

.clear80 {
    clear: both;
    height: 80px;
}

.clear100 {
    clear: both;
    height: 100px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text_decoration {
    text-decoration: underline;
}

.black_color {
    color: #000000;
}

.gray_color {
    color: #898989;
}

.white {
    color: #FFFFFF;
}

.bg-white {
    background-color: #FFFFFF;
}

::ng-deep angular-editor-toolbar button i {
    font-family: FontAwesome !important;
}

.errormsgColor {
    color: #f44336
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
    .displayBlockMobileView {
        display: block;
    }

    .displayNoneWebView {
        display: none;
    }

    .modal-dialog {
        width: 100% !important;
        margin: 0 0 0 0% !important;
        height: 100%;
        position: relative;
    }
}

@media screen and (min-width: 768px) and (max-width: 99999px) {
    .displayBlockMobileView {
        display: none;
    }

    .displayNoneWebView {
        display: block;
    }

    .modal-dialog {
        height: 100%;
        position: relative;
    }
}

.expandedSidebarClass {
    margin-left: 15%;
    width: 85% !important;
}

.collapsedSidebarClass {
    margin-left: 4%;
    width: 96% !important;
}
.formLabelRegularfs12 {
    font-family: 'Inter_18pt-Regular' !important;
    color: #000000;
    font-size: 12px;
}
.formLabelRegularfs14 {
    font-family: 'Inter_18pt-Regular' !important;
    color: #000000;
    font-size: 14px;
}

.formLabelRegularfs16 {
    font-family: 'Inter_18pt-Regular' !important;
    color: #000000;
    font-size: 16px;
}

.formLabelRegularfs18 {
    font-family: 'Inter_18pt-Regular' !important;
    color: #000000;
    font-size: 18px;
}

.formLabelRegularfs20 {
    font-family: 'Inter_18pt-Regular' !important;
    color: #000000;
    font-size: 20px;
}

.formLabelRegularfs22 {
    font-family: 'Inter_18pt-Regular' !important;
    color: #000000;
    font-size: 22px;
}

.formLabelRegularfs24 {
    font-family: 'Inter_18pt-Regular' !important;
    color: #000000;
    font-size: 24px;
}
.formLabelBoldfs12 {
    font-family: 'Inter_18pt-Bold' !important;
    color: #000000;
    font-size: 12px;
}
.formLabelBoldfs14 {
    font-family: 'Inter_18pt-Bold' !important;
    color: #000000;
    font-size: 14px;
}

.formLabelBoldfs16 {
    font-family: 'Inter_18pt-Bold' !important;
    color: #000000;
    font-size: 16px;
}

.formLabelBoldfs18 {
    font-family: 'Inter_18pt-Bold' !important;
    color: #000000;
    font-size: 18px;
}

.formLabelBoldfs20 {
    font-family: 'Inter_18pt-Bold' !important;
    color: #000000;
    font-size: 20px;
}

.formLabelBoldfs22 {
    font-family: 'Inter_18pt-Bold' !important;
    color: #000000;
    font-size: 22px;
}

.formLabelBoldfs24 {
    font-family: 'Inter_18pt-Bold' !important;
    color: #000000;
    font-size: 24px;
}
.formLabelSemiBoldfs12 {
    font-family: 'Inter_18pt-SemiBold' !important;
    color: #000000;
    font-size: 12px;
}

.formLabelSemiBoldfs14 {
    font-family: 'Inter_18pt-SemiBold' !important;
    color: #000000;
    font-size: 14px;
}

.formLabelSemiBoldfs16 {
    font-family: 'Inter_18pt-SemiBold' !important;
    color: #000000;
    font-size: 16px;
}

.formLabelSemiBoldfs18 {
    font-family: 'Inter_18pt-SemiBold' !important;
    color: #000000;
    font-size: 18px;
}

.formLabelSemiBoldfs20 {
    font-family: 'Inter_18pt-SemiBold' !important;
    color: #000000;
    font-size: 20px;
}

.formLabelSemiBoldfs22 {
    font-family: 'Inter_18pt-SemiBold' !important;
    color: #000000;
    font-size: 22px;
}

.formLabelSemiBoldfs24 {
    font-family: 'Inter_18pt-SemiBold' !important;
    color: #000000;
    font-size: 24px;
}

.close{
    color: #389FE7;
}

.link {
    color: #3067FA;
}

.add_btn {
    outline: none;
    border-radius: 7px;
    padding: 10px 20px;
    color: #FFFFFF;
    height: 40px;
    font-family: 'Inter_18pt-SemiBold';
    min-width: 100px;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 14px;
    background: #F3820E;
}
.add_btn_two{
    outline: none;
    border-radius: 7px;
    padding: 10px 20px;
    color: #FFFFFF;
    height: 40px;
    font-family: 'Inter_18pt-SemiBold';
    min-width: 100px;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 14px;
    background: #FFFFFF;
}

.add_btn_three {
    outline: none;
    border-radius: 7px;
    padding: 10px 20px;
    color: #FFFFFF;
    height: 40px;
    font-family: 'Inter_18pt-SemiBold';
    min-width: 100px;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 14px;
    background-color: #143E8E;
}

.back_btn {
    outline: none;
    border-radius: 7px;
    padding: 10px 20px;
    color: #000000;
    height: 40px;
    font-family: 'Inter_18pt-SemiBold';
    border: 1px solid #FFFFFF;
    min-width: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 14px;
}

.btn_blue {
    background-color: #143E8E;
    border: 1px solid #143E8E;
    box-shadow: 0px 3px 6px #00000029;
}

.btn_red {
    background-color: #389FE7;
    border: 1px solid #389FE7;
}

.d-inline-flex {
    display: inline-flex;
}

.catalystOrangeBgColor {
    background-color: #F6921E;
}

.catalystTextColor {
    color: #F6921E;
}

.scroll {
    overflow: auto;
    display: block;
    background-color: #F6F5FB;
}

::ng-deep .custom-dialog-container {
    margin-left: 10% !important;
    // position: absolute;
}

.d-grid {
    display: grid;
}

.center-content {
    display: flex;
    align-items: center;
}

.displayContent {
    display: contents;
}

.import_btn {
    outline: none;
    border-radius: 7px;
    padding: 10px 20px;
    color: #3067FA;
    height: 40px;
    font-family: 'Inter_18pt-SemiBold';
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    min-width: 100px;
    font-size: 14px;
}

.delete_btn {
    outline: none;
    border-radius: 7px;
    padding: 10px 20px;
    color: #E94848;
    height: 40px;
    font-family: 'Inter_18pt-SemiBold';
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    min-width: 100px;
    font-size: 14px;
}
.materialBtnIcon{
    outline: none;
    border-radius: 7px;
    padding: 7px;
    height: 40px;
    font-family: 'Inter_18pt-SemiBold';
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF; 
}
.red{
    color: #E94848;
}
.green{
    color: #2D981C;
}
.customMaterialIcon {
    outline: none;
    border-radius: 7px;
    padding: 7px;
    color: #FFFFFF;
    height: 40px;
    font-family: 'Inter_18pt-SemiBold';
    box-shadow: 0px 3px 6px #00000029;
}
.inputBox {
    background-color: #FFFFFF;
    padding: 9px;
    border: 1px solid #DEDEDE;
    border-radius: 7px;
    width: 100%;
    color: #000000;
    height: 40px;
    font-family: 'Inter_18pt-Regular';
    font-size: 16px;
  }
  .outlineNone{
    outline: none;
  }



  //multiselect dropdown
::ng-deep .multiselectdropdown .dropdown-list {
    position: absolute;
}

 ::ng-deep .c-btn {
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 50px !important;
}

 ::ng-deep .c-btn:focus {
    outline: none !important;
    box-shadow: none;
}

 ::ng-deep .selected-list .c-list .c-token {
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
}

 ::ng-deep .selected-list .c-list .c-token .c-label {
    color: #707070;
    font-size: 12px;
}

 ::ng-deep .selected-list .c-list .c-token .c-remove svg {
    fill: #000 !important;
}

 ::ng-deep .selected-list .c-angle-down svg,
.selected-list .c-angle-up svg {
    fill: #333;
}

 ::ng-deep .dropdown-list ul li:hover {
    background: #f5f5f5;
}

 ::ng-deep .arrow-up,
.arrow-down {
    border-bottom: 15px solid #fff;
}

 ::ng-deep .arrow-2 {
    border-bottom: 15px solid #ccc;
}

 ::ng-deep .list-area {
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0px 1px 5px #959595;
    font-family: 'Inter_18pt-Regular' !important;
}

 ::ng-deep .select-all {
    border-bottom: 1px solid #ccc;
}

 ::ng-deep .list-filter {
    border-bottom: 1px solid #ccc;
}

 ::ng-deep .list-filter .c-search svg {
    fill: #888;
}

 ::ng-deep .list-filter .c-clear svg {
    fill: #888;
}

 ::ng-deep .pure-checkbox input[type="checkbox"]:focus+label:before,
.pure-checkbox input[type="checkbox"]:hover+label:before {
    border-color: #06C3A7;
    background-color: #f2f2f2;
}

 ::ng-deep .pure-checkbox input[type="checkbox"]+label {
    color: #000;
}

 ::ng-deep .pure-checkbox input[type="checkbox"]+label:before {
    color: #06C3A7;
    border: 1px solid #06C3A7;
}

 ::ng-deep .pure-checkbox input[type="checkbox"]+label:after {
    background-color: #06C3A7;
}

 ::ng-deep .pure-checkbox input[type="checkbox"]:disabled+label:before {
    border-color: #cccccc;
}

 ::ng-deep .pure-checkbox input[type="checkbox"]:disabled:checked+label:before {
    background-color: #cccccc;
}

 ::ng-deep .pure-checkbox input[type="checkbox"]+label:after {
    border-color: #ffffff;
}

 ::ng-deep .pure-checkbox input[type="radio"]:checked+label:before {
    background-color: white;
}

 ::ng-deep .pure-checkbox input[type="checkbox"]:checked+label:before {
    background: #06C3A7;
}

 ::ng-deep .single-select-mode .pure-checkbox input[type="checkbox"]:focus+label:before,
.single-select-mode .pure-checkbox input[type="checkbox"]:hover+label:before {
    border-color: #06C3A7;
    background-color: #f2f2f2;
}

 ::ng-deep .single-select-mode .pure-checkbox input[type="checkbox"]+label {
    color: #000;
}

 ::ng-deep .single-select-mode .pure-checkbox input[type="checkbox"]+label:before {
    color: transparent !important;
    border: 0px solid #06C3A7;
}

 ::ng-deep .single-select-mode .pure-checkbox input[type="checkbox"]+label:after {
    background-color: transparent !important;
}

 ::ng-deep .single-select-mode .pure-checkbox input[type="checkbox"]:disabled+label:before {
    border-color: #cccccc;
}

 ::ng-deep .single-select-mode .pure-checkbox input[type="checkbox"]:disabled:checked+label:before {
    background-color: #cccccc;
}

 ::ng-deep .single-select-mode .pure-checkbox input[type="checkbox"]+label:after {
    border-color: #06C3A7;
}

 ::ng-deep .single-select-mode .pure-checkbox input[type="radio"]:checked+label:before {
    background-color: white;
}

 ::ng-deep .single-select-mode .pure-checkbox input[type="checkbox"]:checked+label:before {
    background: none !important;
}

 ::ng-deep .selected-item {
    background: #e9f4ff;
}

 ::ng-deep .btn-iceblue {
    background: #06C3A7;
    border: 1px solid #DEDEDE;
    color: #fff;
}

 ::ng-deep .selected-list .c-btn {
    width: 100%;
    padding: 5px 10px;
    cursor: pointer !important;
    display: flex;
    border: 1px solid #DEDEDE !important;
    border-radius: 7px !important;
    position: relative;
    font-family: 'Inter_18pt-Regular' !important;
}

 ::ng-deep .selected-list .c-btn {
    height: auto !important;
    font-family: 'Inter_18pt-Regular' !important;
}
.selected-list .c-angle-down, .selected-list .c-angle-up {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 10px;
    top: 35% !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
}
.ng-select.ng-select-single .ng-select-container {
    height: 40px !important;
    border-radius: 7px !important;
    width: 100% !important;
    min-height: 40px !important;
    font-family: 'Inter_18pt-Regular' !important;
    font-size: 15px !important;
    color: #000000 !important;
}
.ng-dropdown-panel {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 1050 !important;
    font-family: 'Inter_18pt-Regular' !important;
}
.ng-select .ng-select-container .ng-value-container .ng-input>input {
    // padding-top: 5px !important;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 10px !important;
    left: 0;
    padding-left: 10px;
    padding-right: 50px;
}
.ng-select .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: 7px !important;
    border: 1px solid #DEDEDE;
    min-height: 40px !important;
    align-items: center;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    top: 12px;
    padding-bottom: 5px;
    padding-left: 3px;
}
.upload-Contractbox {
    border: 1px solid #DEDEDE;
    border-radius: 7px;
    min-height: 85px;
    background-color: #DDDDDD;
    max-width: 300px;
    margin-top: 10px;
  }
  .ion-col-bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .disableBtn{
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
  .justify-content-flex-end{
    justify-content: flex-end;
  }
  .notAllowed{
    opacity: 1;
    color: #858585;
    background-color: #fafafa;
    cursor: not-allowed !important;
  }
  .notAllowedBtn{
    opacity: 0.5;
    color: #858585;
    background-color: #fafafa;
    cursor: not-allowed !important;
  }
  .textAreaBox {
    background-color: #FFFFFF;
    padding: 9px;
    border: 1px solid #DEDEDE;
    border-radius: 7px;
    width: 100%;
    color: #000000;
    min-height: 70px;
    font-size: 16px;
  }
  .inputBoxDisabled {
    background-color: #F5F5F5;
    padding: 9px;
    border: 1px solid #DEDEDE;
    border-radius: 7px;
    width: 100%;
    color: #000000;
    height: 40px;
    font-family: 'Inter_18pt-Regular';
    font-size: 16px;
  }
.borderbottomForTab{
    border-bottom: 1px solid #C8C8C8;
}
.custom-loader-class .loading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-backdrop-color, #000) !important;
    color: #fff;
    height: 100%;
    width: 100%;
  }
  
  .custom-loader-class .custom-loader-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-loader-class img {
    width: 50px;
    height: 50px;
  }
  
  .custom-loader-class span {
    margin-left: 10px;
  }
 ::ng-deep .sc-ion-loading-md-h {
    background-color: var(--ion-backdrop-color, #bfbfbf) !important;
    opacity: 0.7 !important;
  }
  .nowrap{
    white-space: nowrap;
  }
  .h-80{
    height: 80px;
  }

  .formFieldLabel {
    font-family: 'Inter_18pt-Regular';
    color: #000000;
    font-size: 14px;
}