.modal-dialog{
    &.sidebar-wide {
        padding: 15px 20px;
        margin-left: 17%;
      }
    
      &.sidebar-narrow {
        padding-left: 6%;
      }
}
.dashboard-bg {
    background-color: #F1F3F4;
    padding: 20px 20px 0px 20px;
    overflow: auto;
}
.your-button-class {
    color: inherit; 
    text-decoration: none; 
    cursor: pointer; 
  }
  
  .your-button-class:hover {
    color: #000; 
    text-decoration: none; 
  }
  
.scroll {
    overflow: auto;
}
.rowclass{
    display: flex;
    
}

.modal-body {
    height: 100%;
    overflow-y: auto;
    position: relative;
    padding: 10px 30px 75px 30px;
    background-color: #389FE71A
}

.cardBox{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DEDEDE;
    border-radius: 9px;
    margin-bottom: 10px;
  }
.modal-content{
    background-color: #E6E6E6;
    padding: 10px 20px;
    font-family: 'Inter_18pt-SemiBold';
    height: 10%;
    //padding-left: 17%;

}
  .importHistoryBtn{
    color: #004EEB;
  }
  .text-right{
  }
  .importCardBox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
    width: 90%;
    //margin-left: 30%;
    padding: 20px;
    height:100%;
  }
.downloadImportFileBtn {
    background-color: #389FE7;
    border: 1px solid #389FE7;
    border-radius: 7px;
    font-size: 16px;
    color: #FFFFFF;
    height: 40px;
    padding: 5px;
    width: 100%;
}
.upload-box {
    border: 1px dashed #389FE7;
    background-color: #389FE71A;
    width: 100%;
    border-radius: 10px;
}
.extention_text {
    padding: 0px 15px;
}
.btnBox{
    width: 50%;
    margin: 0 auto;
}
  .browse-btn{
    background-color: #fff;
    border: 0.5px solid #667E8E;
    border-radius: 6px;
    height: 40px;
    color: black;
    font-size: 16px;
    outline: none;
    padding: 0px 15px;
    margin-left: 39px;  }
.buttons-class{
    margin-left: 30%;
}
.cancel-btn {
    background-color: #fff;
    border: 0.5px solid #667E8E;
    border-radius: 6px;
    height: 35px;
    color: black;
    font-size: 12px;
    outline: none;
    padding: 0px 15px;
    margin-left: 39px;
}
:host ::ng-deep .dt_pagination {
    display: none !important;
}

.add-btn{
    background-color: #389FE7;
    border: 0.5px solid #667E8E;
    border-radius: 6px;
    height: 35px;
    width:28%;
    color: black;
    font-size: 12px;
    outline: none;
    padding: 0px 15px;
    margin-left: 39px;
}
.filecon{
    font-style: italic;
    color:  #666262;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
}

.note {
    margin: 0 auto;
    width: 80%;
}
.filename{
    color:#389FE7;
}